extends layout

block content
  h1 #{title}: #{book.title}

  if booksinstances.length

    p #[strong Delete the following book instances before attempting to delete this Book.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Books Instances

      dl
      each bookinstance in booksinstances
        dt
        dd #{bookinstance.status}
        dd #{bookinstance.due_back_formatted}

  else
    p Do you really want to delete this Book?

    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete
